@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Arial, Helvetica, sans-serif;color: #dae2d8;
   line-height: 2.0;
   background-color: #000000;
   padding: 20px;
}

.descricao {
   text-align: center;
   margin-bottom: 2em;
   font-family: "Metal Mania", system-ui;
   display: flex;
}


.secao {
   max-width: 1200px;
   margin: 0 auto;
   box-shadow: 0 0 70px rgb(229, 164, 254);
   border-radius: 9px;
   display: flex;
   background-color: #2c1928;
   padding: 10px;
}

.texto {
   flex: 1;
   padding-right: 20px;
   padding-left: 2em;
   align-self: center;
}

.texto h2 {
   line-height: 2em;
   font-family: "Metal Mania", system-ui;
   margin-bottom: 1em;
   text-align: center;
}

.texto p {
   line-height: 2em;
   margin-bottom: 1.5em;
   font-style: italic;
}

.imagem {
   flex: 1;
   text-align: center;
   align-self: center;
   height: 25px;

}

.imgtopo{
   align-items: flex-start;
}

.imagem img {
   max-width: 100%;
   height: auto;
   border-radius: 8px;
}

@media (max-width: 800px) {
   .secao {
      flex-direction: column;
   }

   .texto,
   .imagem {
      padding: 10px;
     
   }
}